@charset "utf-8";

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    width: 100%;
}


/* ========= header ========= */
header {
    position: relative;
    width: 100%;
    height: 950px;
    background: url(../images/SVT.jpg) no-repeat left top;
}

.name {
    position: absolute;
    top: 17px;
    font-size: 30px;
}

.mobile-btn {
    position: absolute;
    left: 1158px; top: 20px;
}

.mobile-btn > span:first-child,
.mobile-btn > span:nth-child(2),
.mobile-btn > span:last-child {
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: black;
}

.mobile-btn > span:nth-child(2) {
    margin-top: 10px;
}

.mobile-btn > span:last-child {
    margin-top: 20px;
}

.picture-intro {
    position: absolute;
    justify-content: space-between;
}

.pic {
    margin-top: 42px;
}

.pic > img {
    width: 690px; height: 430px;
}

.pic hr {
    border: 1px solid whitesmoke;
    margin-top: 27px;
}

.intro1 {
    position: absolute;
    width: 467px;
    height: 393px;
    left: 713px;
    top: 32px;
    text-align: justify;
    line-height: 30px;
}

.intro1 h2 {
    font-size: 15px;
    font-weight: normal;
}

.intro1 strong {
    font-size: 30px;
    line-height: 50px;
}

.intro1 p {
    justify-content: space-between;
}

.intro2 {
    position: absolute;
    margin-top: 20px;
    line-height: 30px;
}

.line1 {
    padding-left: 55px;
}

.line2 {
    padding-left: 37px;
}

.line3 {
    padding-left: 53px;
}

.line4 {
    padding-left: 92px;
}