@charset "utf-8";

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    width: 100%;
}


/* ========= header ========= */
header {
    position: relative;
    width: 100%;
    height: 950px;
    /* background: url(../images/SVT.jpg) no-repeat left top ; */
    background-image: url(../images/SVT.jpg);
    /* background-repeat: repeat-x; */
    /* background-size: 1200; */
}

.name {
    position: absolute;
    top: 10px;
}
.name-mobile-btn {
    /* display: flex; */
    /* justify-content: space-between; */
}

/* mobile-btn */
.mobile-btn {
    position: absolute;
    left: 1158px; top: 20px;
}

.mobile-btn > span:first-child,
.mobile-btn > span:nth-child(2),
.mobile-btn > span:last-child {
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: black;
}

.mobile-btn > span:nth-child(2) {
    margin-top: 10px;
}

.mobile-btn > span:last-child {
    margin-top: 20px;
}

.information {
    width: 600px;
    padding-top: 880px;
    /* top: 100px; */
}

.information > ul {
    display: flex;
    justify-content: space-between;
}

.information > span {
    display: flex;
}

/* .information img {
    width: 30px;
    height: 25px;
} */

.information li:first-child > img {

}

/* ========= main ========= */
/* .picture-intro {
    position: relative;
} */

.pic {
    margin-top: 42px;
}

.pic > img {
    width: 690px; height: 430px;
}

.pic hr {
    border: 1px solid whitesmoke;
    margin-top: 27px;
    width: 690px;
}

.intro1 {
    position: absolute;
    width: 467px;
    height: 393px;
    left: 713px;
    top: -8px;
    text-align: justify;
    line-height: 30px;
}

.intro1 h2 {
    font-size: 15px;
    font-weight: normal;
}

.intro1 strong {
    font-size: 30px;
    line-height: 50px;
}

.intro2 {
    margin-top: 20px;
    line-height: 30px;
}

.line1 {
    padding-left: 55px;
}

.line2 {
    padding-left: 37px;
}

.line3 {
    padding-left: 53px;
}

.line4 {
    padding-left: 92px;
}

.img-total img {
    width: 145px;
    height: 180px;
}

.img-total a:hover{
    box-shadow: 0px 0px 8px rgb(75, 75, 75);
    background: transparent;
}

.img-total1 {
    display: flex;
    margin-top: 74px;
    text-align: center;
}

.img-total1 .img1 {
    padding-left: 108px;
}

.img-total1 .img2 {
    padding-left: 60px;
}

.img-total1 .img3 {
    padding-left: 60px;
}

.img-total1 .img4 {
    padding-left: 60px;
}

.img-total1 .img5 {
    padding-left: 60px;
}

.img-total2 {
    display: flex;
    margin-top: 47px;
    text-align: center;
}

.img-total2 .img6 {
    padding-left: 108px;
}

.img-total2 .img7 {
    padding-left: 60px;
}

.img-total2 .img8 {
    padding-left: 60px;
}

.img-total2 .img9 {
    padding-left: 60px;
}

.img-total2 .img10 {
    padding-left: 60px;
}

.img-total3 {
    display: flex;
    margin-top: 47px;
    text-align: center;
}

.img-total3 .img11 {
    padding-left: 313px;
}

.img-total3 .img12 {
    padding-left: 60px;
}

.img-total3 .img13 {
    padding-left: 60px;
}


.album-title .discography {
    display: flex;
    padding-top: 93px;
    padding-left: 91px;
    text-align: center;
    font-size: 20px;
}

.album-title hr {
    margin-top: 15px;
    width: 380px;
    height: 2px;
}

.album-title img {
    width: 245px;
    height: 245px;
}

.album-title .title1 {
    display: flex;
    padding-top: 77px;
}

.album-title .album1 {
    padding-left: 75px;
}

.album-title .album2 {
    padding-left: 17px;
}

.album-title .album3 {
    padding-left: 17px;
}

.album-title .album4 {
    padding-left: 17px;
}

.album-title strong {
    width: 245px;
}

.album-title p {
    line-height: 28px;
    font-size: 15px;
}

.album-title time {
    font-size: 15px;
}

.album-title .title2 {
    display: flex;
    padding-top: 15px;
}

.album-title .album5 {
    padding-left: 75px;
}

.album-title .album6 {
    padding-left: 17px;
}

.album-title .album7 {
    padding-left: 17px;
}

.album-title .album8 {
    padding-left: 17px;
}

.VIDEO .video-text {
    display: flex;
    padding-top: 100px;
    padding-left: 537px;
    font-size: 36px;
}

.video01 {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 47px;
}

.video01 div > p  {
    position: absolute;
    padding-top: 77px;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    line-height: 30px;
    font-weight: bold;
}

.video01 .mv1 {
    padding-left: 60px;
}

.video01 .mv2 {
    padding-left: 40px;
}

.video01 .mv3 {
    padding-left: 20px;
}

.video01 p:hover {
    color: white;
    opacity: 1;
}

.video01 > div,
.video02 > div {
    width: 310.5263157894737%;
}

.video02 {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 13px;
}

.video02 div > p {
    position: absolute;
    padding-top: 77px;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    line-height: 30px;
    font-weight: bold;
}

.video02 .mv4 {
    padding-left: 5px;
}

.video02 .mv5 {
    padding-left: 5px;
}

.video02 .mv6 {
    padding-left: 50px;
}

.video02 p:hover {
    color: white;
    opacity: 1;
}

.number {
    display: flex;
    width: 284px;
    margin: 0 auto;
}

.number a {
    width: 12.5%;
    padding: 54px 0 0 0;
    text-align: center;
    font-size: 18px;
}

.number a:hover {
    font-weight: bold;
}


/* ======= footer ======= */
.logo {
    background-color: black;
    margin-top: 100px;
}

.logo img {
    position: relative;
    left: 50%;
    transform: translateX(-50px);
    width: 108px;
    height: 48px;
    margin-top: 20px;
}

.logo p {
    padding-top: 10px;
    padding-bottom: 20px;
    color: #a9a9a9;
    font-size: 13px;
    text-align: center;
}